*.iml
.gradle
/local.properties
/.idea
/build
/captures
.externalNativeBuild
.cxx/app/build
/**/build
/gradle
/gradlew
/gradlew.bat
/gradle-wrapper.jar
*.apk
*.ap_
*.keystore
*.jks
*.dex
*.class
/.cxx
/.externalNativeBuild
/captures
.DS_Store
